
*{
    padding: 0;
    margin: 0;
}

#container-header-top{
    width: 100%;
    height: 90px;
    background-color: blue;
    font-style: bold;
}

.navigation-text{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

}

#logo{
    margin-left: 60px;
    margin-top: 20px;
}

ul{
    list-style: none;
}

li {
    float: left;
}

li a{
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 10px;
}

#container-header-down{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
}

.block-left{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-items: stretch;
}


.block-left-elements{
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 460px;
    height: 460px;
    background-color: salmon;
    margin: 120px;
    padding-top: 45px;
    border-style: solid;
    border-color: black;
    color: white;
}


input{
    margin-top: 30px;
    height: 40px;
    font-size: 20px;

}

.btn-container{
    margin-top: 30px;
}

.btn{
    margin: 10px;
    height: 36px;
    width: 190px;
}


